:local {
    .buttonWrapper {
        position: relative;
        width: 100%;

        margin-bottom: 2px;
        padding: calc(var(--base-pm) * .8) calc(var(--base-pm) * 1.3);

        border-radius: var(--base-br);
        border-left: 3px solid transparent;

        text-align: left;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;

        cursor: pointer;
        transition: border-color .3s ease-in-out;

        &:hover { background-color: var(--menu-button-hover); }

        &.active {
            border-left: 3px solid var(--accent-background);
            background-color: var(--menu-button-hover);
        }

        button {
            -webkit-appearance: none;

            background:transparent;
            border: none;

            color: inherit;
            outline: none;
            font-weight: inherit;
            font-size: inherit;

            cursor: inherit;
        }
    }
}
