:local {
    .regionSidebar {
        justify-content: flex-end;
        height: 100%;
        max-width: var(--sidebar-max-width);
        flex: 1;

        background-color: var(--sidebar-background);

        transition: transform .3s ease-in-out;
    }

    .mobile {
        position: fixed;
        transform: translateX(-250px);
    }

    .mobileActive {  transform: translateX(0) }

    .sidebarOverlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        transform: translateX(100%);
        height: 100%;
        background-color: rgba(0,0,0,0);
        pointer-events: none;
        transition: background-color .3s ease-in-out;
        touch-action: manipulation;
    }
    
    .sidebarOverlayActive {
        background-color: rgba(0,0,0,.2);
        pointer-events: initial;
    }
}
