:local {
    .lightHeader {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;

        color: var(--light-title-color);

        letter-spacing: .5px;
    }

    .darker { color: var(--light-title-color-darker); }

    .sidebarHeader { padding: var(--base-pm) calc(var(--base-pm) * 2); }
}
