:local {
    .lightHeader {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;

        color: #B9BBBE;

        padding-top: 0;
        padding: 6px 10px;
    }
}
