:local {
    .icon {
        width: 24px;
        height: auto;

        margin: 0 var(--base-pm);

        color: var(--light-title-color);

        cursor: pointer;

        svg { transition: color .25s ease; }

        &:hover { color: var(--light-title-color-darker); }
    }
}
