:local {
    .icon {
        width: 24px;
        height: auto;

        margin: 0 10px;

        color: #b9bbbe;

        cursor: pointer;

        svg {
            transition: color .15s ease;
        }

        &:hover {
            color: #72767d;
        }
    }
}
