:local {
    .input {
        max-width: 100%;
        width: 100%;

        margin: var(--base-pm) 0;

        color: var(--default-color);

        line-height: 34px;
        border-radius: var(--base-br);
        border: 1px solid var(--separator-color);

        padding-left: var(--base-pm);
        padding-right: var(--base-pm);
    }

    .inputLabel {
        width: 100%;

        p {
            font-size: .95em;
            font-weight: 500;
        }

        margin-bottom: calc(var(--base-pm) * 2);
    }


    // Checkbox input
    .checkboxInput {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }


    .checkboxInputWrapper {
        user-select: none;
        cursor: pointer;

        input:checked {
            & + .checkbox {
                border-color: var(--accent-background);

                svg {
                    path {
                        fill: var(--accent-background);
                    }
                    polyline {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }

        &:hover {
            .checkbox {
                svg {
                    path {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }

        .checkbox {
            position: relative;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            border: 2px solid #C8CCD4;
            border-radius: 3px;

            svg {
                position: absolute;
                top: -2px;
                left: -2px;
            }
            path {
                fill: none;
                stroke: var(--accent-background);
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 71px;
                stroke-dashoffset: 71px;
                transition: all .6s ease;
            }
            polyline {
                fill: none;
                stroke: #FFF;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 18px;
                stroke-dashoffset: 18px;
                transition: all .3s ease;
            }
        }

        &>span {
            pointer-events: none;
            vertical-align: middle;
        }
    }
}
