:local {
    .title {
        margin-bottom: calc(var(--base-pm) * 3);

        text-transform: uppercase;
        font-weight: 600;
        line-height: 20px;
        font-size: 16px;

        cursor: default;
    }
}
