:root {
    --base-br: 8px;

    // Color
    --color-initial: #fff;

    --color-accent:  #3361f3;

    --color-secondary: #606c76;
    --color-tertiary: rgba(66, 133, 244, 0.04);
    --color-quaternary: #d2e3fc;
    --color-quinary: #dadce0;
}
