:local {
    .loginWrapper {
        width: 100%;
        min-height: 100vh;
        background-color: var(--sidebar-background);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }


    .loginForm {
        z-index: 1;
        padding: 24px 32px;
        border-radius: 8px;
        background-color: #fff;
        width: 100%;
        max-width: 420px;
        position: relative;

        button {
            position: absolute;
            bottom: -30px;
            left: auto;
            right: auto;
            margin: 0 auto;
            border: none;
            color: var(--accent-content-color);
            padding: calc(var(--base-pm) * 2);
            background-color: var(--accent-background);
            border-radius: 100%;
            cursor: pointer;
            box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);


            svg {
                width: 24px;
                height: auto;
            }
        }
    }

    .registerLinkWrapper {
        padding-top: 8px;
        padding-bottom: 24px;
        border-top: 1px solid rgba(0,0,0,.1);
        text-align: center;

        p {
            margin: 16px 0;
        }
    }

    .lightTitle {
        color: #c5c5c5;
        font-size: .9em;
    }

    .keepSessionWrapper {
        margin-bottom: 24px;
    }
}
