:global {
    :root {
        --base-pm: 8px;
        --base-br: 3px;

        --default-color: #4f545c;
        --neth-brand-color: #26a599;

        --heart-red: #f04747;
        --heart-red-darker: darken(#f04747, 15%);

        $green: #43b581;
        --green: $green;
        --green-darker: darken($green, 10%);

        $accent-color: #55728e;
        --accent-background:  $accent-color;
        --accent-background-darker: darken( $accent-color, 10%);
        --accent-content-color: #fff;

        --sidebar-background: #F3F3F4;

        --separator-color: rgba(186, 188, 191, 0.4);

        $light-title-color: #BBB;
        --light-title-color: $light-title-color;
        --light-title-color-darker: darken($light-title-color, 20%);
       
        --menu-button-hover: rgba(79,84,92,.1);

        --sidebar-max-width: 670px;
        --content-max-width: 940px;

        --link-list-grid-column-template: 1fr 100px 150px 55px;

        --session-list-grid-column-template: 150px 150px 1fr;

        --list-grid-row-template: 42px;
        --list-grid-column-gap: var(--base-pm);
    }

}
