:local {
    .footerInfoWrapper {
        margin: 0 var(--base-pm);

        p {
            padding: var(--base-pm) calc(var(--base-pm) * 2);

            &:not(:first-child) {
                padding-top: calc(var(--base-pm) * 1.5);
                padding-bottom: calc(var(--base-pm) * 1.5);
            }

            opacity: .8;

            font-weight: 400;
            font-size: 14px;
        }

        a { color: var(--neth-brand-color); }

        
    }

    .heartIcon {
        width: 16px;
        height: auto;

        color: var(--light-title-color);

        vertical-align: middle;

        &:hover { color: var(--heart-red); }
    }

    .footerLinks { padding: var(--base-pm); }
}
