:local {
    .footerInfoWrapper {
        margin: 0 10px;

        p {
            padding: 6px 10px;

            &:not(:first-child) {
                padding-top: 12px;
                padding-bottom: 12px;
            }

            color: #4F545C;
            opacity: .8;

            font-weight: 400;
            font-size: 14px;
        }

        a {
            color: #26a599;

            &:hover {
                text-decoration: underline;
            }
        }

        
    }

    .heartIcon {
        width: 16px;
        height: auto;

        color: #b9bbbe;

        vertical-align: middle;

        &:hover {
            color: rgb(240, 71, 71);
        }
    }
}
