:local {
    .form {
        padding: var(--base-pm) calc(var(--base-pm) * 2);
        margin: var(--base-pm) 0;
        background-color: var(--sidebar-background);
        border-radius: var(--base-br);

        @media(max-width: 455px) { flex-direction: column; }

        p,
        input {
            margin: var(--base-pm) 0;

            font-size: 15px;
        }

        button {
            height: 32px;
            margin: var(--base-pm);

            padding: 0 calc(var(--base-pm) * 3);

            font-weight: 500;
            font-size: 14px;

            border: none;
            color: var(--accent-content-color);
            border-radius: var(--base-br);

            background-color: var(--accent-background);
 
            cursor: pointer;

            &:hover { background-color: var(--accent-background-darker); }

            &.saveButton {
                margin-bottom: 0;

                background-image: none;
                background-color: var(--green);                

                &:hover { background-color: var(--green-darker); }
            }

            &.warningButton {
                margin-bottom: 0;

                border: 1px solid var(--heart-red);
                color: var(--heart-red);

                background-image: none;
                background-color: transparent;

                &:hover { border-color: var(--heart-red-darker); }
            }

            &.cancelButton {
                height: auto;

                padding: calc(var(--base-pm) / 3) 0;
                margin-bottom: 0;

                color: var(--light-title-color-darker);

                background: transparent;

                &:hover { background-image: linear-gradient(0deg,transparent,transparent 1px,var(--light-title-color-darker) 0,var(--light-title-color-darker) 2px,transparent 0); }
            }
        }
    }

    .formInputs {
        padding: var(--base-pm);

        &Active { width: 100%; }
    }

    .formInput {
        margin: var(--base-pm);

        input { width: 100%; }

        &:not(:first-of-type) { margin-top: calc(var(--base-pm) * 2); }
    }

    @media(max-width: 420px) {
        .formButtons {
            flex-direction: column-reverse;

            div {
                margin-bottom: calc(var(--base-pm) * 2);
                display: flex;
                justify-content: center;
            }
        }
    }
}
